.hero {
    background-position: center;
    background-size: cover;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0 0 3rem 0;
}



p {
    font-size: 2.25rem;
    margin: 0 0 3rem 3.8rem;
    color: #BCBCBC;
}

.linkButtonHero {
    margin: 0 0 0 6.7rem;
}